.header-mobile {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow:var(--card-shadow);

  @media (min-width: 1100px) {
    display: none;
  }
  &__top {
    background: var(--white);
    padding: 17px 0;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      .hamburger {
        button {
          all: unset;
          padding: 5px;
          color: var(--primary);
          font-size: 24px;
        }
      }

    }
  }

  &__drop-dawn {
    &__list {
      display: flex;
      flex-direction: column;

      li {
        padding: 8px 0;
        a {
          display: flex;
          gap: 16px;
          img {
            height: 22px;
          }
        }
      }
    }
  }
}
.activeLanguege {
  background: var(--primary);
  color: var(--white);
}
